<h1 mat-dialog-title>Add Doctor Data</h1>
<a mat-raised-button color="accent" routerLink="/hospital/dashboard">Hospital Doctor List</a>
<div class="container">
    <div mat-dialog-content>
        <form [formGroup]="doctorForm">
            <mat-form-field apperance="outline">
                <mat-label>First Name</mat-label>
                <input formControlName="first_name" matInput placeholder="first_name" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="last_name" matInput placeholder="last_name" required>
            </mat-form-field>
            <mat-form-field apperance="fill">
                <mat-label> Select a Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>Age</mat-label>
                <input formControlName="age" matInput placeholder="Age" type="number" required>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>specialization</mat-label>
                <input formControlName="specialization" matInput placeholder="specialization" required>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>contact_number</mat-label>
                <input formControlName="contact_number" maxlength="12" matInput placeholder="contact number" required>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>email_address</mat-label>
                <input formControlName="email_address" matInput placeholder="email_address" required>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>years_of_experience</mat-label>
                <input formControlName="years_of_experience" matInput placeholder="years_of_experience" required>
            </mat-form-field>

            <mat-form-field apperance="outline">
                <mat-label>languages_known</mat-label>
                <input formControlName="languages_known" matInput placeholder="languages_known" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>consultation_hours start and end</mat-label>
                <input formControlName="consultation_hours" matInput placeholder="(HH:mm:ss), (HH:mm:ss) ">
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>Select Available Days</mat-label>
                <mat-select formControlName="availability_days" multiple required="">
                    <mat-option *ngFor="let day of days" [value]="day">{{ day }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-action [align]="'center'">
        <button style="width: 70%;" mat-raised-button color="accent" (click)="addDoctor()">save</button>
    </div>
</div>