<h1 mat-dialog-title>Add Doctor Data</h1>
<div class="container">
    <div mat-dialog-content>
        <form [formGroup]="doctorForm">
            <mat-form-field apperance="outline">
                <mat-label>First Name</mat-label>
                <input formControlName="first_name" matInput placeholder="first_name" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="last_name" matInput placeholder="last_name" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>Gender</mat-label>
                <input formControlName="gender" matInput placeholder="gender" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>Age</mat-label>
                <input formControlName="age" matInput placeholder="Age" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>specialization</mat-label>
                <input formControlName="specialization" matInput placeholder="specialization" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>contact_number</mat-label>
                <input formControlName="contact_number" matInput placeholder="contact_number" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>email_address</mat-label>
                <input formControlName="email_address" matInput placeholder="email_address" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>years_of_experience</mat-label>
                <input formControlName="years_of_experience" matInput placeholder="years_of_experience" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>languages_known</mat-label>
                <input formControlName="languages_known" matInput placeholder="languages_known" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>consultation_hours</mat-label>
                <input formControlName="consultation_hours" matInput placeholder="consultation_hours" required>
            </mat-form-field>
            <mat-form-field apperance="outline">
                <mat-label>availability_days</mat-label>
                <input formControlName="availability_days" matInput placeholder="availability_days" required>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-action [align]="'center'">
        <!-- <button mat-raised-button color="warn" mat-dialog-close>Close</button> -->
        <button style="width: 70%;" mat-raised-button color="primary" (click)="addDoctor()">save</button>
    </div>
</div>