<div class="container">
    <h2> Customer Login page</h2>
    <form [formGroup]="customerLogin" (ngSubmit)="submit()">
        <p>
            <mat-form-field appearance="outline" [style.width.em]="15">
                <mat-icon matSuffix>email</mat-icon>
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="email@gmail.com" type="email" formControlName="email">
                <mat-error *ngIf="customerLogin.get('email')?.errors && customerLogin.get('email')?.errors">
                    Invalid E-Mail Pattern
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" [style.width.em]="15">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf=" customerLogin.get('password')?.errors">Min Length should be
                    {{this.minLength}}</mat-error>
            </mat-form-field>
        </p>
        <p>Dont have an account? <a routerLink="/customer/signup">Signup</a></p>
        <p>
            <button mat-raised-button color="ascent" [style.width.em]="15" type="submit"
                [disabled]="!customerLogin.valid">Login</button>
        </p>
    </form>
</div>