<h1>Hospital Dahboard</h1>
<mat-tab-group>
    <mat-tab label="Patient">
        <app-beds-list></app-beds-list>
    </mat-tab>
    <mat-tab label="Doctors">

        <button mat-raised-button color="primary" routerLink="/hospital/doctor/add_doctor">
            Add Doctor</button>
        <app-doctor-list></app-doctor-list></mat-tab>
    <mat-tab label="Beds">

        <button mat-raised-button color="primary" routerLink="/hospital/hospital_beds/add_beds">
            Add Beds</button>
        <app-beds-list></app-beds-list>
    </mat-tab>
    <mat-tab label="Beds availability">
        <button mat-raised-button color="primary" routerLink="/hospital/hospital_beds/add_beds">
            Add Beds availability</button>
        <app-beds-list></app-beds-list>
    </mat-tab>
</mat-tab-group>